body {
  margin: 0;
  box-sizing: border-box;
}

/* Nav bar */
a {
  color: #eee;
  text-decoration: none;
}

header {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
}

.dark-btn {
  color: rgb(0, 37, 160);
  text-decoration: underline;
}